# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="La casa del tè"

# Database
DATABASE_URL=postgresql://neondb_owner:npg_unq1l3QNMBWr@ep-bold-lake-ap6m0frt.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_DIRECT_URL=

# API
NEXT_PUBLIC_API_URL=
